<div>
    <h2>SSH公钥</h2>

    <p>
        这是存储在该服务器的<code>&#126;/.ssh/id_rsa.pub</code>中的SSH公钥
    </p>
    <p>
        应该使用此密钥授予此服务器对Git存储库的访问权，该存储库包含Spring Cloud配置文件。
    </p>

    <h3>SSH公钥</h3>

    <pre class="code-block">{{data}}</pre>
    <hr>
    <div class="text-center pad" >
        <a (click)="showMore = !showMore" class="btn btn-default">
            <span *ngIf="showMore">
                <fa-icon icon="arrow-circle-down"></fa-icon>&nbsp;更多
            </span>
            <span *ngIf="!showMore">
                <fa-icon icon="arrow-circle-up"></fa-icon>&nbsp;隐藏
            </span>
        </a>
    </div>
	<div [ngbCollapse]="showMore">
        <h3><fa-icon icon="info-circle"></fa-icon> Using SSH with Docker</h3>
        <p>
            <a href="https://hub.docker.com/r/jhipster/jhipster-registry/" target="_blank">jhipster/jhipster-registry/</a>是使用JHipster Registry Docker映像时的详细说明。
        </p>

        <ul>
            <li>进入容器内部: <code>docker exec -it &lt;containerIdOrName&gt; sh</code></li>
            <li>生成SSH密钥: <code>ssh-keygen</code></li>
            <li>复制<code>/root/.ssh/id_rsa.pub</code>中的公钥到要访问的远程Git存储库(在Github中，转到设置/SSH密钥)</li>
            <li>在容器内测试SSH连接是否正常:
                <ul>
                    <li>使用ssh密钥登录到Git服务器:<code>ssh -T git@github.com</code></li>
                    <li>当要求将Git存储库主机添加到已知主机列表时，回答<b>yes</b></li>
                </ul>
            </li>
            <li>在不删除容器的情况下重启服务注册中心，它应该能够通过SSH公钥读取Git仓库</li>
        </ul>

        <p>
            为了在每次重新创建或更新容器时不丢失我们的设置，您可以挂载<code>/root/.ssh//</code>文件夹到Docker volume。
        </p>

        <p>要设置自己的git repo，编辑传递给容器的GIT_URI环境变量，例如使用Docker Compose:</p>
        <pre class="code-block">
    version: '2'
      services:
        jhipster-registry:
          container_name: jhipster-registry
          image: jhipster/jhipster-registry
      volumes:
        - ./ssh/:/root/.ssh/
      environment:
        - SPRING_PROFILES_ACTIVE=prod
        - GIT_URI=git@github.com:jhipster/jhipster-registry.git
        - GIT_SEARCH_PATHS=central-config
      ports:
        - 8761:8761
        </pre>
	</div>
</div>
