<div [ngSwitch]="isAuthenticated()">
    <h1 class="text-center">JHipster Registry <small>{{version}}</small></h1>
    <div class="row">
        <div class="col-md-12 text-center">
            <div *ngSwitchCase="true">
                <jhi-refresh-selector class="float-right refresh-left-side"></jhi-refresh-selector>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>您没有经过身份验证。</span>
                <a class="alert-link" (click)="login()">请登录</a>
            </div>
        </div>
    </div>
    <div class="row" *ngSwitchCase="true">
        <div class="col-sm-12 col-md-6" *ngIf="status">
            <div class="card card-outline-primary">
                <div class="card-header card-primary">
                    <h3 class="card-title">系统状态</h3>
                </div>
                <div class="card-block">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>环境变量</td>
                            <td>{{status.environment}}</td>
                        </tr>
                        <tr>
                            <td>数据中心</td>
                            <td>{{status.datacenter}}</td>
                        </tr>
                        <tr>
                            <td>当前时间</td>
                            <td>{{status.currentTime}}</td>
                        </tr>
                        <tr>
                            <td>启动时间</td>
                            <td>{{status.upTime}}</td>
                        </tr>
                        <tr>
                            <td>健康状态</td>
                            <td>{{status.isBelowRenewThreshold}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6" *ngIf="appInstances">
            <div class="card card-outline-primary">
                <div class="card-header card-primary">
                    <h3 class="card-title">已注册实例</h3>
                </div>
                <div class="card-block">
                    <!--{vm.apps.applications}}-->
                    <table class="table">
                        <thead>
                        <tr>
                            <th>服务名称</th>
                            <th>实例ID</th>
                            <th>状态</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let app of appInstances">
                            <td>{{app.name}}</td>
                            <td class="break">{{app.instanceId}}</td>
                            <td class="text-center">
                            <span class="badge badge-pill font-weight-normal" [ngClass]="getBadgeClass(app.status)">
                                {{app.status}}
                            </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngSwitchCase="true">
        <div class="col-sm-12 col-md-6" *ngIf="status">
            <div class="card card-outline-primary">
                <div class="card-header card-primary">
                    <h3 class="card-title">基本信息</h3>
                </div>
                <div class="card-block">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>总可用内存</td>
                            <td>{{status.generalStats['total-avail-memory']}}</td>
                        </tr>
                        <tr>
                            <td>当前内存使用量</td>
                            <td>{{status.generalStats['current-memory-usage']}}</td>
                        </tr>
                        <tr>
                            <td>CPU核心数</td>
                            <td>{{status.generalStats['num-of-cpus']}}</td>
                        </tr>
                        <tr>
                            <td>注册中心地址</td>
                            <td>{{status.instanceInfo.ipAddr}}</td>
                        </tr>
                        <tr>
                            <td>注册中心状态</td>
                            <td>
                                <span class="badge badge-pill font-weight-normal" [ngClass]="getBadgeClass(status.instanceInfo.status)">
                                    {{status.instanceInfo.status}}
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6" *ngIf="healthData">
            <div class="card card-outline-primary">
                <div class="card-header card-primary">
                    <h3 class="card-title">Health</h3>
                </div>
                <div class="card-block">
                    <table id="healthCheck" class="table">
                        <tbody>
                        <tr *ngFor="let health of healthData">
                            <td><span class="text-capitalize">{{baseName(health.name)}}</span> {{subSystemName(health.name)}}</td>
                            <td class="text-center">
                            <span class="badge badge-pill font-weight-normal" [ngClass]="getBadgeClass(health.status)">
                                {{health.status}}
                            </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
